body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.toolbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 100px; */
    background-color: #eee;
    border-right: 1px solid #888;
    overflow: hidden;
}

div.canvas {
    height: 100%;
    /* width: calc(100% - 100px); */
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

/* Set toolbar width to respond specifically to the viewport size. This accomplishes two goals:
 * - a maximum width of the canvas
 * - the presence of all of the buttons vertically
 *
 * This is the view port definition and toolbar width (in px) based on viewport width/height:
 *
 *       0         400        800
 *    0  +----------+-----------+--------------------------------
 *       |          |           |
 *       |   32     |     32    |               32
 *       |          |           |
 *  800  +----------+-----------+--------------------------------
 *       |          |           |
 *       |   32     |    50     |               50
 *       |          |           |
 * 1050  +----------+-----------+--------------------------------
 *       |          |           |
 *       |   32     |    64     |               64
 *       |          |           |
 * 1700  +----------+-----------+--------------------------------
 *       |          |           |
 *       |   32     |    64     |              100
 *       |          |           |
 *       |          |           |
 *
 */
@media only screen and (min-height: 1700px) and (min-width: 800px) {
    div.toolbar {
        width: 100px;
    }

    div.canvas {
        width: calc(100% - 99px);
    }

    div.toolbar-button {
        width: 100px;
        height: 100px;
        font-size: 72px;
        padding-left: 14px;
    }

    div.toolbar-button div.svg-container {
        width: 72px;
        height: 72px;
    }

    div.toolbar-button.option-tool {
        height: 60px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 72px;
        height: 36px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 32px;
        height: 32px;
    }

    div.toolbar-separator {
        width: 100px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 8px;
        margin-bottom: 7px;
    }
    div.popup-menu {
        left: 101px;
    }
    
    /* color-icon size should match font icon size for all viewport sizes */
    div.color-icon {
        width: 72px;
        height: 72px;
        border-radius: 36px;
    }
}

@media only screen and (min-height: 1700px) and (min-width: 400px) and (max-width: 799px) {
    div.toolbar {
        width: 64px;
    }

    div.canvas {
        width: calc(100% - 63px);
    }

    div.toolbar-button {
        width: 64px;
        height: 64px;
        font-size: 48px;
        padding-left: 8px;
    }

    div.toolbar-button div.svg-container {
        width: 48px;
        height: 48px;
    }

    div.toolbar-button.option-tool {
        height: 40px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 48px;
        height: 24px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 20px;
        height: 20px;
    }

    div.toolbar-separator {
        width: 64px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    div.popup-menu {
        left: 65px;
    }

    div.color-icon {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
}

@media only screen and (min-height: 1700px) and (max-width: 399px) {
    div.toolbar {
        width: 32px;
    }

    div.canvas {
        width: calc(100% - 31px);
    }

    div.toolbar-button {
        width: 32px;
        height: 32px;
        font-size: 24px;
        padding-left: 4px;
    }

    div.toolbar-button div.svg-container {
        width: 24px;
        height: 24px;
    }

    div.toolbar-button.option-tool {
        height: 20px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 24px;
        height: 12px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 10px;
        height: 10px;
    }

    div.toolbar-separator {
        width: 32px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    div.popup-menu {
        left: 33px;
    }
    
    div.color-icon {
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }
}

@media only screen and (min-height: 1050px) and (max-height: 1699px) and (min-width: 400px) {
    div.toolbar {
        width: 64px;
    }

    div.canvas {
        width: calc(100% - 63px);
    }

    div.toolbar-button {
        width: 64px;
        height: 64px;
        font-size: 48px;
        padding-left: 8px;
    }

    div.toolbar-button div.svg-container {
        width: 48px;
        height: 48px;
    }

    div.toolbar-button.option-tool {
        height: 40px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 48px;
        height: 24px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 20px;
        height: 20px;
    }

    div.toolbar-separator {
        width: 64px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    div.popup-menu {
        left: 65px;
    }
    
    div.color-icon {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
}

@media only screen and (min-height: 1050px) and (max-height: 1699px) and (max-width: 399px) {
    div.toolbar {
        width: 32px;
    }

    div.canvas {
        width: calc(100% - 31px);
    }

    div.toolbar-button {
        width: 32px;
        height: 32px;
        font-size: 24px;
        padding-left: 4px;
    }

    div.toolbar-button div.svg-container {
        width: 24px;
        height: 24px;
    }

    div.toolbar-button.option-tool {
        height: 20px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 24px;
        height: 12px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 10px;
        height: 10px;
    }

    div.toolbar-separator {
        width: 32px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    div.popup-menu {
        left: 33px;
    }
    
    div.color-icon {
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }
}

@media only screen and (min-height: 800px) and (max-height: 1049px) and (min-width: 400px) {
    div.toolbar {
        width: 50px;
    }

    div.canvas {
        width: calc(100% - 49px);
    }

    div.toolbar-button {
        width: 50px;
        height: 50px;
        font-size: 36px;
        padding-left: 7px;
    }

    div.toolbar-button div.svg-container {
        width: 36px;
        height: 36px;
    }

    div.toolbar-button.option-tool {
        height: 30px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 36px;
        height: 18px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 14px;
        height: 14px;
    }

    div.toolbar-separator {
        width: 50px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    div.popup-menu {
        left: 51px;
    }
    
    div.color-icon {
        width: 36px;
        height: 36px;
        border-radius: 18px;
    }
}

@media only screen and (min-height: 800px) and (max-height: 1049px) and (max-width: 399px) {
    div.toolbar {
        width: 32px;
    }

    div.canvas {
        width: calc(100% - 31px);
    }

    div.toolbar-button {
        width: 32px;
        height: 32px;
        font-size: 24px;
        padding-left: 4px;
    }

    div.toolbar-button div.svg-container {
        width: 24px;
        height: 24px;
    }

    div.toolbar-button.option-tool {
        height: 20px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 24px;
        height: 12px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 10px;
        height: 10px;
    }

    div.toolbar-separator {
        width: 32px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    div.popup-menu {
        left: 33px;
    }
    
    div.color-icon {
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }
}

@media only screen and (max-height: 799px) {
    div.toolbar {
        width: 32px;
    }

    div.canvas {
        width: calc(100% - 31px);
    }

    div.toolbar-button {
        width: 32px;
        height: 32px;
        font-size: 24px;
        padding-left: 4px;
    }

    div.toolbar-button div.svg-container {
        width: 24px;
        height: 24px;
    }

    div.toolbar-button.option-tool {
        height: 20px;
    }

    div.toolbar-button.option-tool div.option-icon {
        width: 24px;
        height: 12px;
    }

    div.toolbar-button.option-tool div.option-icon div.option {
        width: 10px;
        height: 10px;
    }

    div.toolbar-separator {
        width: 32px;
        height: 0px;
        border-bottom: 1px solid #888;
        margin-top: 4px;
        margin-bottom: 3px;
    }
    div.popup-menu {
        left: 33px;
    }
    
    div.color-icon {
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }
}

#app {
    width: 100%;
    height: 100%;
}

div.toolbar-button.selected-item, div.toolbar-button div.selected-option {
    background-color: #cee9fe;
}

@media only print {
    div.toolbar, div.menu, div.paint-color-light, div.paint-cover-heavy, div.selection, div.popup-container, div.dialog-box-container, canvas {
        display: none;
    }

    div.canvas-child {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}